a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 100%;
  line-height: 1.15;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #4285F4;
}

.calculator-info h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  line-height: 110.8%;
  color: #4285F4;
  font-weight: bold;
}

.calculator-info p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #4285F4;
}

.calculator-info .btn {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 17.55px;
  line-height: 24px;
  color: #fff;
}

.calculator-questions h3 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 140%;
  color: #fff;
  font-weight: bold;
}

.calculator-questions h4 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
}

.question-content p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 140%;
  color: #fff;
  font-weight: 500;
}

.question-content .btn {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 17.52px;
  line-height: 21px;
  color: #fff;
}

.question-content #result #total-cost {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
}

.question-content #result #cost {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 52px;
  line-height: 140%;
  color: #fff;
}

.question-content #result p:last-of-type {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 140%;
  color: #D7E1FF;
}

#back p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
}

.btn {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 17.55px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

html {
  background: #FEFEFE;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  text-align: left;
  background: transparent;
}

/* img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
} */

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-input-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

::-ms-input-placeholder {
  opacity: 1;
}

::placeholder {
  opacity: 1;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.calculator-container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button[disabled] {
  cursor: not-allowed;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.answer-button:hover {
  color: #000000;
  background: #ffffff;
}

.calculator-container {
  background: #fefefe;
  height: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator-info {
  background: url("../images/shapes.png");
  width: 61.8%;
  height: 100%;
  padding-left: 10.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calculator-info p {
  padding: 35px 0;
  width: 55%;
}

.calculator-info .btn {
  background: -webkit-gradient(linear, left top, right top, from(#4285f4), to(#4255f4));
  background: linear-gradient(90deg, #4285f4 0%, #4255f4 100%);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(66, 133, 244, 0.12), 0px 10px 20px rgba(66, 133, 244, 0.18);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(66, 133, 244, 0.12), 0px 10px 20px rgba(66, 133, 244, 0.18);
  border-radius: 4.86779px;
  border: 1px solid #fefefe;
  width: 194.71px;
  height: 46.73px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.calculator-info .btn:hover {
  background: #fff;
  color: #000;
  border: 1px solid #4255f4;
}

.calculator-questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 38.2%;
  height: 86.8%;
  padding: 37px 75px 36px 73px;
  background: linear-gradient(128.28deg, #4285F4 0%, #425ef4 100%);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(66, 94, 244, 0.12), 0px 10px 20px rgba(66, 94, 244, 0.18);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(66, 94, 244, 0.12), 0px 10px 20px rgba(66, 94, 244, 0.18);
  border-radius: 10px 0 0 10px;
}

.calculator-questions .line {
  display: block;
  width: 100%;
  border-bottom: 2px solid #77aaff;
  margin: 45px 0;
}

.calculator-questions .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

.calculator-questions .button-container .btn {
  background: #2D4BE3;
  border: 0.973558px solid #2949e8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(45, 75, 227, 0.12), 0px 4px 8px rgba(18, 49, 203, 0.18);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(45, 75, 227, 0.12), 0px 4px 8px rgba(18, 49, 203, 0.18);
  border-radius: 4.86779px;
  width: 195px;
  height: 70px;
}

.calculator-questions .button-container .btn:first-of-type {
  margin-right: 15px;
}

.calculator-questions .button-container .btn:hover {
  background: #ffffff;
}

.calculator-questions .question-content #result .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 29px;
}

.calculator-questions .question-content #result .row img {
  width: initial;
  height: auto;
  margin-right: 16px;
}

.calculator-questions .question-content #result .row p {
  width: 75%;
}

.calculator-questions .question-content #result {
  display: none;
}

.calculator-questions #back {
  padding-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  visibility: hidden;
}

.calculator-questions #back a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator-questions #back img {
  width: initial;
  padding-right: 10px;
}

.mobile-wave {
  display: none;
}

@media (max-width: 1080px) {
  .calculator-questions {
    padding: 25px 48px 25px 35px;
  }
}

@media (max-width: 920px) {
  .calculator-info {
    width: 57.16%;
  }
  .calculator-questions {
    width: 42.84%;
  }
  .calculator-questions h3 {
    font-size: 28px;
  }
  .calculator-questions h4 {
    font-size: 18px;
  }
}

@media (max-width: 840px) {
  .calculator-info {
    padding-left: 20px;
  }
  .calculator-info p {
    width: 95%;
  }
  .calculator-questions .line {
    margin: 25px 0 !important;
  }
}

@media (max-width: 768px) {
  .calculator-info h2 {
    margin-top: 15px;
  }
  .calculator-questions {
    height: 70%;
  }
  .calculator-questions .button-container {
    margin-top: 20px;
  }
  .calculator-questions .button-container .btn {
    width: 120px;
    height: 45px;
  }
  .calculator-questions .question-content p {
    font-size: 15px;
  }
  .calculator-questions .question-content .btn {
    line-height: 24px;
  }
  .calculator-questions .question-content #result .row img {
    width: 30px;
    height: 30px;
    margin-right: 14px;
  }
  .calculator-questions .question-content #result .row p {
    width: 90%;
  }
  .calculator-questions .question-content #result p:last-of-type {
    font-size: 12px;
  }
  .calculator-questions .question-content #result #cost {
    font-size: 38px;
  }
  .calculator-questions .question-content #back img {
    width: 20px;
    height: 20px;
    padding-right: 7px;
  }
}

@media (max-width: 738px) {
  .calculator-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .calculator-container .calculator-info,
  .calculator-container .calculator-questions {
    width: 100%;
  }
  .calculator-container .calculator-info {
    height: 40%;
    background-size: contain;
    padding: 30px 15px;
  }
  .calculator-container .calculator-info h2 {
    margin-top: 0;
  }
  .calculator-container .calculator-info .btn {
    margin: 0 auto;
  }
  .calculator-container .calculator-questions {
    height: 38%;
    min-height: 291px;
  }
}

@media (max-width: 420px) {
  .calculator-container .calculator-info {
    padding-bottom: 50px;
  }
  .calculator-container .calculator-info h2 {
    font-size: 42px;
  }
  .calculator-container .calculator-info p {
    padding: 15px 0 20px 0;
  }
  .calculator-container .calculator-info .btn {
    width: 175px;
    height: 42px;
  }
  .calculator-container .calculator-questions {
    background: #4275F4;
    padding: 20px 14px 10px 20px;
    border-radius: 10px 0 0 0;
  }
  .calculator-container .calculator-questions h3 {
    font-size: 24px;
  }
  .calculator-container .calculator-questions .question-content p {
    font-size: 16px;
  }
  .calculator-container .calculator-questions .question-content #result .row {
    padding-top: 25px;
  }
  .calculator-container .calculator-questions .button-container .btn {
    width: 165px;
  }
  .calculator-container .calculator-questions .button-container .btn:first-of-type {
    margin-right: 7px;
  }
  .mobile-wave {
    display: block;
  }
}
